.form-edit {
  margin-top: 1rem;
}

.form-edit input {
  padding: 0.2rem;
  border: 1px solid;    
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem;
}

.form-edit textarea {
  resize: none;
  border: 1px solid;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}